.category {
    color:#671111;
    border: groove 3px #671111;
    border-radius: 10px;
    margin: 10px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    min-width: 200px;
    justify-content: space-evenly;

}
#categories-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}