ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    justify-content: space-around;
  }
  
  li {
    float: left;
    background-color: #3498db;

  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #2980b9;
  }
  
  li.active {
    background-color: #2980b9; 
  }
  
  li.active a {
    color: white; 
  }
  